html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size-adjust: none;
  font-size: 18px;
  min-height: 100vh;
  background-color: var(--vt-c-black);
  color: var(--vt-c-white-mute);
}